@mixin flex{
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
}


@mixin fontBold{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

@mixin fontRegular{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 12px;
}
